<html>

<body>
    <form action='check_account' method="POST">
        <table>
            <tr>
                <td>ID</td> <td><input type="text" name="user_id"></td>
            </tr>
            <tr>
                <td>PW</td> <td><input type="password" name="user_pw"></td>
            </tr>
            <tr>
                <td>EMAIL</td> <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>NAME</td> <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>STUDENT_NUMBER</td> <td><input type="text" name="student_number"></td>
            </tr>
            <tr>
                <td>TYPE</td> <td><input type="text" name="type"></td>
            </tr>
            <tr>
                <td>MAJOR</td> <td><input type="text" name="major"></td>
            </tr>
        </table>
        <input type="submit" value="submit">
    </form>
</body>
</html>